.percentage-95{
    color: #37ad00;
}

.percentage-80{
    color: #44d600;
}

.percentage-70{
    color: #80cf00;
}

.percentage-60{
    color: #a9bb07;
}

.percentage-50{
    color: #ac9c10;
}

.percentage-40{
    color: #b6970c;
}

.percentage-30{
    color: #b6890c;
}

.percentage-20{
    color: #a07a12;
}

.percentage-10{
    color: #866815;
}

.percentage-0{
    color: #665014;
}